<ion-header class="color">
  <ion-toolbar class="color">
    <ion-title class="color">
      LOGO
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--
<ion-content>
    <ion-card class="welcome-card">
      <img class="imagen" src="/assets/smartfit.PNG" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Prepara tu cinturón</ion-card-subtitle>
        <ion-card-title>Smartfit</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Bienvenido a smartFit.</p>
      </ion-card-content>
    </ion-card>
  
</ion-content>
-->
<ion-content>

<img class="imagen" src="/assets/smartfit.PNG" alt="" />
</ion-content>
