<ion-header class="color">
  <ion-toolbar class="color">
    <ion-title class="color">
      <img class="imagen" src="/assets/img/logo.png" alt="" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
      <ion-col size="4">
      <div style="padding:0.5em;padding-top:3em">
        <img *ngIf="partedelcuerpoquetoca==0" src="assets/img/CuerpoPerimetroPecho.jpg"/> 
        <img *ngIf="partedelcuerpoquetoca==1" src="assets/img/CuerpoPerimetroCintura.jpg"/> 
        <img *ngIf="partedelcuerpoquetoca==2" src="assets/img/CuerpoPerimetroCadera.jpg"/> 
        <img *ngIf="partedelcuerpoquetoca>2" src="assets/img/CuerpoSinPerimetros.jpg"/> 

      </div>
      </ion-col>
      <ion-col size="8" >
      <br><br><br>
      <table style="width:100%;table-layout: fixed;">
        <tr class="center">
          <th></th>
          <th></th>
        </tr>
        <tr class="center">
          <td><b>Pecho</b></td>
          <td *ngIf="this.medida[0]">{{this.medida[0]}} cm</td>
          <td *ngIf="!this.medida[0]" class="invisible">90.641454 cm</td>
          <!--<td class="holgura">
            <ion-item color="grey">
                <ion-input (change)="changeHolgura()" class="alingright holgura" type="number" [(ngModel)]="holgura[0]"  max="99"></ion-input> cm
            </ion-item>
          </td>-->
        </tr>
        <tr class="center">
          <td><b>Cintura</b></td>
          <td *ngIf="this.medida[1]">{{this.medida[1]}} cm</td>
          <td *ngIf="!this.medida[1]" class="invisible">90.641454 cm</td>
        </tr>
        <tr class="center">
          <td><b>Cadera</b></td>
          <td *ngIf="this.medida[2]">{{this.medida[2]}} cm</td>
          <td *ngIf="!this.medida[2]" class="invisible">90.641454 cm</td>
        </tr>
      </table>
      <div class="center">
      <img style="width:35%"  src="/assets/img/Boton-de-Camara.png" alt="" />
      </div>
      <div class="padding" *ngIf="partedelcuerpoquetoca<3">
        <p> Fotografía la ventana de la banda de medición de </p>
        <button (click)="takePhoto(partedelcuerpoquetoca)" class="botonParteDelCuerpo"> <h4>{{partesdelcuerpo[partedelcuerpoquetoca]}} </h4></button>
      </div>
      </ion-col>
  </ion-row>
  <table  style="table-layout: fixed;">
      <tr class="center" style="background-color:rgb(255, 191, 0)">
        <th colspan="2" style="padding:0em;"><h3>Seleciona la holgura deseada</h3></th>
      </tr>
      <tr>
        <td class="holgura" style="text-align:right;width: 45%;">
        <b>PECHO</b>
        </td>
        <td class="holgura">
          <ion-item lines="none" color="grey" style="width:50%" *ngIf="partedelcuerpoquetoca>2">
              <ion-input text-left (change)="changeHolgura()" class="alingright holgura" type="number" [(ngModel)]="holgura[0]"  max="99"></ion-input> cm
          </ion-item>
        </td>
      </tr>
        <tr>
        <td class="holgura" style="text-align:right;width: 45%;">
        <b>CINTURA</b>
        </td>
        <td class="holgura">
          <ion-item lines="none" color="grey"  style="width:50%" *ngIf="partedelcuerpoquetoca>2">
              <ion-input text-left (change)="changeHolgura()" class="alingright holgura" type="number" [(ngModel)]="holgura[1]"  max="99"></ion-input> cm
          </ion-item>
        </td>
      </tr>
        <tr>
        <td class="holgura" style="text-align:right;width: 45%;">
        <b>CADERA</b>
        </td>
        <td class="holgura">
          <ion-item lines="none" color="grey"  style="width:50%"  *ngIf="partedelcuerpoquetoca>2">
              <ion-input no-lines text-left (change)="changeHolgura()" class="alingright holgura" type="number" [(ngModel)]="holgura[2]"  max="99"></ion-input> cm
          </ion-item>
        </td>
      </tr>
    </table>
  <ion-item>
        <ion-label>Activar Autorecorte</ion-label>
        <ion-toggle [(ngModel)]="autocut"></ion-toggle>
  </ion-item>
  <br><br>
  <ion-row>
    <ion-col *ngIf="partedelcuerpoquetoca>0">
                <button (click)="takePhoto(0)" > <h4>Repetir foto pecho</h4></button>
    </ion-col>
    <ion-col *ngIf="partedelcuerpoquetoca>1">
                <button (click)="takePhoto(1)" class="botonParteDelCuerpo"> <h4>Repetir foto Cintura</h4></button>
    </ion-col>
    <ion-col *ngIf="partedelcuerpoquetoca>2">
                <button (click)="takePhoto(2)"> <h4>Repetir foto Cadera</h4></button>
    </ion-col>
  </ion-row>


</ion-grid>
<img class="hidden" id="img0" src="{{this.image[0]}}"/> 
<img class="hidden" id="img1" src="{{this.image[1]}}"/>
<img class="hidden" id="img2" src="{{this.image[2]}}"/> 
<img class="hidden" id="cinturon" src="assets/img/final.png"/> 


</ion-content>



<!-- DEBUG VIEW
<ion-content>

Pulsa el botón de Tomar foto y apunta a la marca de tu cinturon,enfoca cuidadosamente

 <ion-item>
    <ion-label>Activar autorecorte</ion-label>
    <ion-toggle [(ngModel)]="autocut"></ion-toggle>
  </ion-item>
<ion-grid>
  <ion-row>
      <ion-col size="4"  >
        <div class="imagen">
          <img *ngIf="this.image[0]" src="{{this.image[0]}}"/> 
          <img *ngIf="this.image[1]" src="{{this.image[1]}}"/> 
          <img *ngIf="this.image[2]" src="{{this.image[2]}}"/> 

        </div>
      </ion-col>
      <ion-col size="4" offset="4">
        <div *ngIf="this.medida[0]" class="imagen">
        Pecho  {{this.medida[0]}}cm <br>
        </div>
        <div *ngIf="this.medida[1]" class="imagen">
        Cintura  {{this.medida[1]}}cm <br>
        </div>
        <div *ngIf="this.medida[2]" class="imagen">
        Cadera  {{this.medida[2]}}cm <br>
        </div>
      </ion-col>
  </ion-row>
  <ion-row>
      <div class="imagen">
        <canvas class="testImage2" id="canvasOutput" ></canvas>
        <canvas class="testImage2" id="canvasOutput2" ></canvas>
      

      </div>
  </ion-row>
    <canvas class="testImage3" id="threshold" ></canvas>
    <canvas class="testImage3" id="thresholdbyn" ></canvas>
    <canvas class="testImage3" id="contornos" ></canvas>
    <canvas class="testImage3" id="pintado" ></canvas>
    <canvas class="testImage3" id="recorte" ></canvas>


</ion-grid>
</ion-content>
<ion-button (click)="takePhoto(0)" expand="block" fill="outline">Tomar foto Pecho</ion-button>
<ion-button (click)="takePhoto(1)" expand="block" fill="outline">Tomar foto Cintura</ion-button>
<ion-button (click)="takePhoto(2)" expand="block" fill="outline">Tomar foto Cadera</ion-button>
<img class="hidden" id="cinturon" src="assets/img/test.png"/> 

-->     

