
.verde{
    background-color:lawngreen;
}
.hidden{
    display: none;
}
.testImage{
    max-width: 188%;
    height: auto;
}

.testImage2{
    max-width: 100%;
    height: auto;
}


.testImage3{
    max-width: 40%;
    height: auto;
}