
.verde{
    background-color:lawngreen;
}
.hidden{
    display: none;
}
.testImage{
    max-width: 188%;
    height: auto;
}

.testImage2{
    max-width: 100%;
    height: auto;
}


.testImage3{
    max-width: 40%;
    height: auto;
}
.holgura{
    background-color: #dddddd;
}
.center{
    text-align: center;
}
td{
    padding: 0.1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.invisible{
    visibility: hidden;
}
.padding{
    padding: 2em;
}
.botonParteDelCuerpo{
    width: 100%;
    text-align: center;
    background-color: black;
    color: whitesmoke;
}