.image{
    max-width: 120px;
    height: auto;
}
.color{
     background-color:rgb(255, 191, 0) !important;
     --background:rgb(255, 191, 0) !important;
}
.verde{
    color:green
}
.naranja{
    color: orange;
}
.rojo{
    color:red;
}
.grande{
    height: max-content;

}