<ion-tabs class="color">

  <ion-tab-bar slot="bottom" class="color">
    <ion-tab-button tab="tab1" class="color">
      <!--<ion-icon name="ios-home"></ion-icon>-->
      <img class="imagen" src="/assets/botones/Boton-Home-Activado.png" alt="" />
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="color">
      <img class="imagen" src="/assets/botones/Boton-Medir-Activado.png" alt="" />
      <ion-label>Medición</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="color">
      <img class="imagen" src="/assets/botones/Boton-Tienda-Activado.png" alt="" />
      <ion-label>Tienda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
